{% extends "wiki/base.html" %}

{% block content %}
{% if article %}
    <h2>Article: {{article.title}}</h2>
    <p>{{article.text}}</p>
    <p>Creation date: {{article.created}}</p>
    <p>Last modified: {{article.modified}}</p>
    <p>View Count: {{article.view_count}}</p>
    {% if related_articles %}
        <h3> Related articles:</h3>
        {% for article in related_articles %}
            [<a href="{% url 'article' article.id %}">{{article.title}}</a>]
            <br>
        {% endfor %}
    {% endif %}
    <br>
    <a href="{% url 'edit_article' article.id %}">Edit this article</a>

{% else %}
    <p>This article does not exist</p>
{% endif %}

<br>
<a href="{% url 'create_article' %}" style="color:#FF0000;">Create new Article</a>
<br>
<a href="{% url 'index' %}">Home</a>
{% endblock content %}


