{% extends "wiki/base.html" %}

{% block content %}
<h1>Create Article post</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create!</button>
</form>
{% endblock content %}
