{% extends "wiki/base.html" %}

{% block content %}
 <h1>Edit Article {{ article.title }}</h1>
<div class="profile">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Update Article</button>
  </form>
</div>
{% endblock content %}
