{% extends "wiki/base.html" %}

{% block content %}

Welcome to our MoneyFlow Wiki! 

{% if articles %}
    These are the latest articles created:
    <ul>
        {% for article in articles %}
            <a href="{% url 'article' article.id %}">{{article.title}}</a>
            <br>
        {% endfor %}
    </ul>
{% else %}
    <p>No Articles created yet. Add one yourself!</p>
{% endif %}
<a href="{% url 'create_article' %}" style="color:#FF0000;">Create new Article</a>
<br>


<form action="{% url 'search' %}" method="post">
    {% csrf_token %}

    Search <input name="to_search" type="text" placeholder="Search...">
  </form>
{% endblock content %}
