<h2>Search </h2>
{% if found_articles %}
    These are the articles found for {{search_term}}:
    <ul>
        {% for article in found_articles %}
            <a href="{% url 'article' article.id %}">{{article.title}}</a>
            <br>
        {% endfor %}
    </ul>
{% else %}
    <input type="text">
    <button type="submit">search!</button>

    <p>No Articles found.</p>
{% endif %}